<div class="container mx-auto px-4 pt-6 pb-24">

  <app-navbar title="Gemeinschaften verwalten">

    @if (activeCommunity) {
    <a left type="button" class="btn-small btn-neutral" routerLink="/profile">
      <lucide-icon [img]="backIcon"></lucide-icon>
    </a>
    }

    <button right type="button" class="btn-small btn-danger" (click)="openLogoutPopup()">
      <lucide-icon [img]="logoutIcon"></lucide-icon>
    </button>
  </app-navbar>

  @if (user) {
  <div class="space-y-4">

    <div class="card flex space-x-3 items-center">
      <span>Angemeldet als:</span>
      <img class="h-10 w-10 ml-4 rounded-full" [src]="user.profileimage" alt="" width="40px" height="40px" />
      <span class="text-lg bold">
        {{user.name}}
      </span>
    </div>

    <div class="card space-y-3">
      <p>Deine Gemeinschaften:</p>

      @if (this.user.communities.length === 0) {
      <p>Noch keiner Gemeinschaft beigetreten</p>
      } @else {
      @for (community of user?.communities; track community.id) {
      @if (community.id == this.activeCommunity?.id) {
      <div class="card px-6 py-3 flex flex-row justify-between bg-primary/20">
        <div class="flex flex-col items-start">
          <span class="bold text-lg">{{community?.name}}</span>
          <span class="text-xs text-gray-400">Beitrittscode: {{community?.code}}</span>
        </div>
      </div>
      } @else {
      <div class="card px-6 py-3 flex flex-row justify-between items-center clickable"
        (click)="selectCommunity(community.id)">
        <div class="flex flex-col items-start">
          <span class="bold text-lg">{{community?.name}}</span>
          <span class="text-xs text-gray-400">Beitrittscode: {{community?.code}}</span>
        </div>

        <lucide-icon [img]="switchIcon"></lucide-icon>
      </div>
      }
      }
      }

      <p class="mt-10">Neue Gemeinschaft erstellen / beitreten</p>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <button class="btn-small btn-primary w-full" (click)="changeJoinCommunityPopup(true)">Beitreten</button>
        <button class="btn-small btn-neutral w-full" (click)="changeCreateCommunityPopup(true)">Erstellen</button>
      </div>
    </div>

    <div class="card">
      <p class="pb-3">Benutzer bearbeiten</p>

      <form class="flex flex-col mb-3 w-full" [formGroup]="nameUpdateEditorForm" (ngSubmit)="updateName()">
        <label for="name">Name</label>
        <input type="text" id="name" autocomplete="off" formControlName="name" placeholder="Name" class="flex-1" />
      </form>

      <button type="button" [disabled]="nameUpdateEditorForm.invalid || (name.value === user?.name)"
        (click)="updateName()" class="btn-small btn-primary w-full">Updaten</button>
    </div>

    <div class="card">
      <p class="pb-3">Passwort ändern</p>
      <form class="flex flex-col mb-3 w-full" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <label>Altes Passwort:</label>
        <input type="password" id="oldPassword" autocomplete="off" formControlName="oldPassword"
          placeholder="Altes Passwort" class="flex-1 mb-3" />

        <label>Neues Passwort:</label>
        <input type="password" id="newPassword" autocomplete="off" formControlName="newPassword"
          placeholder="Neues Passwort" class="flex-1" />

      </form>

      <button type="button" [disabled]="changePasswordForm.invalid"
        (click)="changePassword()" class="btn-small btn-primary w-full">Ändern</button>
    </div>
  </div>
  }
</div>

<app-popup [show]="joinCommunityPopup" (close)="joinCommunityPopup = false" title="Join Community">
  <app-join-community (closePopup)="changeJoinCommunityPopup(false)" />
</app-popup>

<app-popup [show]="createCommunityPopup" (close)="createCommunityPopup = false" title="Create Community">
  <app-create-community />
</app-popup>
