<div class="container mx-auto px-4 pt-6 pb-24">

  <app-navbar title="Gemeinschaften verwalten">

    @if (activeCommunity) {
    <a left type="button" class="btn-neutral aspect-square px-0" routerLink="/profile">
      <lucide-icon [img]="backIcon"></lucide-icon>
    </a>
    }

    <button right type="button" class="btn-danger aspect-square px-0" (click)="openLogoutPopup()">
      <lucide-icon [img]="logoutIcon"></lucide-icon>
    </button>
  </app-navbar>

  @if (user) {
  <div class="space-y-4">

    <div class="card flex space-x-3 items-center">
      <span>Angemeldet als:</span>
      <img class="h-10 w-10 ml-4 rounded-full" [src]="user.avatar" alt="" width="40px" height="40px" />
      <span class="text-lg font-bold">
        {{user.name}}
      </span>
    </div>

    <div class="card space-y-3">
      <h2>Deine Gemeinschaften:</h2>

      @if (ownCommunities.length === 0) {
      <p>Noch keiner Gemeinschaft beigetreten</p>
      } @else {
      @for (community of ownCommunities; track community.id) {
      @if (community.id == this.activeCommunity?.id) {
      <div class="card px-6 py-3 flex flex-row justify-between bg-primary/20">
        <div class="flex flex-col items-start">
          <span class="font-bold text-lg">{{community?.name}}</span>
          <span class="text-xs text-gray-400">Beitrittscode: {{community?.code}}</span>
        </div>
      </div>
      } @else {
      <div class="card px-6 py-3 flex flex-row justify-between items-center clickable"
        (click)="selectCommunity(community)">
        <div class="flex flex-col items-start">
          <span class="font-bold text-lg">{{community?.name}}</span>
          <span class="text-xs text-gray-400">Beitrittscode: {{community?.code}}</span>
        </div>

        <lucide-icon [img]="switchIcon"></lucide-icon>
      </div>
      }
      }
      }

      <p class="mt-10">Neue Gemeinschaft erstellen / beitreten</p>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <button class="btn-primary w-full" (click)="changeJoinCommunityPopup(true)">Beitreten</button>
        <button class="btn-neutral w-full" (click)="changeCreateCommunityPopup(true)">Erstellen</button>
      </div>
    </div>

    <div class="card">
      <h2 class="pb-3">Benutzer bearbeiten</h2>

      <form class="flex flex-col mb-3 w-full" [formGroup]="nameUpdateEditorForm" (ngSubmit)="updateName()">
        <label for="name">Name</label>
        <input type="text" id="name" autocomplete="off" formControlName="name" placeholder="Name" class="flex-1" />
      </form>

      <app-primary-button [isLoading]="isLoadingNameChange"
        [disabled]="nameUpdateEditorForm.invalid || (name.value === user?.name)" (clicked)="updateName()"
        label="Name ändern"></app-primary-button>

      <p class="text-sm mt-6 mb-4">Avatar</p>
      <div class="relative w-20 h-20 group clickable" (click)="showImageUploadPopup = true">
        <img [src]="user?.avatar" class="w-20 h-20 rounded-full border border-gray-700 object-cover"
          alt="Profile Image" />

        <div
          class="absolute inset-0 rounded-full bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
          <lucide-icon [img]="penIcon"></lucide-icon>
        </div>
      </div>
    </div>

    <div class="card">
      <h2 class="pb-3">Passwort ändern</h2>
      <form class="flex flex-col mb-3 w-full" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <label>Altes Passwort:</label>
        <input type="password" id="oldPassword" autocomplete="off" formControlName="oldPassword"
          placeholder="Altes Passwort" class="flex-1 mb-3" />

        <label>Neues Passwort:</label>
        <input type="password" id="newPassword" autocomplete="off" formControlName="newPassword"
          placeholder="Neues Passwort" class="flex-1" />

      </form>

      <app-primary-button [isLoading]="isLoadingPasswordChange" [disabled]="changePasswordForm.invalid"
        (clicked)="changePassword()" label="Passwort ändern"></app-primary-button>
    </div>

    <div class="card">
      <h2 class="pb-3">Gefahrenzone</h2>
      <p class="pb-3">Die folgenden Änderungen können nicht rückgängig gemacht werden.</p>

      <button type="button" [disabled]="changePasswordForm.invalid" (click)="changePassword()"
        class="btn-danger">Account löschen</button>
    </div>
  </div>
  }
</div>

<app-popup [show]="joinCommunityPopup" (close)="joinCommunityPopup = false" title="Gemeinschaft beitreten">
  <app-join-community (closePopup)="changeJoinCommunityPopup(false)" />
</app-popup>

<app-popup [show]="createCommunityPopup" (close)="createCommunityPopup = false" title="Gemeinschaft erstellen">
  <app-create-community />
</app-popup>

<app-popup [show]="showImageUploadPopup" (close)="showImageUploadPopup = false" title="Avatar hochladen">
  <app-profile-image-editor (closeEditor)="showImageUploadPopup = false" />
</app-popup>
