<div class="container mx-auto px-4 pt-6 pb-24">

  <app-navbar title="Deine Gemeinschaften">

    @if (activeCommunity) {
    <a left type="button" class="btn-small btn-neutral" routerLink="/profile">
      <lucide-icon [img]="backIcon"></lucide-icon>
    </a>
    }

    <button right type="button" class="btn-small btn-danger" (click)="openLogoutPopup()">
      <lucide-icon [img]="logoutIcon"></lucide-icon>
    </button>
  </app-navbar>

  @if (user) {
  <div class="grid gap-4">
    <div class="flex justify-center">
      <img class="profile-image rounded-full" [src]="user.profileimage" alt="" width="100" height="100" />
    </div>
    <div class="flex justify-center">
      <h2 class="text-xl font-semibold">
        {{user.name}}
      </h2>
    </div>
    <div class="card p-4 text-center space-y-3">
      <p>Deine Gemeinschaften:</p>

      @if (this.user.communities.length === 0) {
      <p>Noch keiner Gemeinschaft beigetreten</p>
      } @else {
      @for (community of user?.communities; track community.id) {
      @if (community.id == this.activeCommunity?.id) {
      <div class="card px-6 py-3 flex flex-row justify-between bg-primary/20">
        {{community?.name}}
      </div>
      } @else {
      <div class="card px-6 py-3 flex flex-row justify-between clickable" (click)="selectCommunity(community.id)">
        {{community?.name}}
        <lucide-icon [img]="switchIcon"></lucide-icon>
      </div>
      }
      }
      }
      <div class="grid grid-cols-2 gap-4 mt-4">
        <button class="btn-large btn-primary w-full" (click)="changeJoinCommunityPopup(true)">Beitreten</button>
        <button class="btn-large btn-outline-primary w-full"
          (click)="changeCreateCommunityPopup(true)">Erstellen</button>
      </div>
    </div>
  </div>
  }
</div>

<app-popup [show]="joinCommunityPopup" (close)="joinCommunityPopup = false" title="Join Community">
  <app-join-community (closePopup)="changeJoinCommunityPopup(false)" />
</app-popup>

<app-popup [show]="createCommunityPopup" (close)="createCommunityPopup = false" title="Create Community">
  <app-create-community />
</app-popup>
