<main>

  <!-- Hero Section -->
  <ng-container *transloco="let t; prefix: 'landing.hero'">
    <section class="container mx-auto py-20 px-6">
      <div class="grid lg:grid-cols-2 space-x-10">

        <div class="flex flex-col items-start space-y-6">
          <div
            class="bg-[#143830] text-[#7de0a1] border border-[#7de0a1] rounded-full px-3 py-2 text-xs flex items-center justify-center space-x-1">
            <lucide-icon [img]="sparklesIcon" size="16" color="#7de0a1"></lucide-icon>
            <span class="text-[#7de0a1]">{{ t('badge') }}</span>
          </div>

          <h1 class="text-5xl lg:text-7xl font-bold flex flex-col">
            <span>{{ t('headline1') }}</span>
            <span class="text-primary">{{ t('headline2') }}</span>
            <span>{{ t('headline3') }}</span>
          </h1>

          <p class="text-xl lg:text-2xl text-gray-300 mb-4">
            {{ t('descriptionBefore') }}
            <span class="text-primary">{{ t('descriptionFree') }}</span>
            {{ t('descriptionMiddle') }}
            <span class="text-primary">{{ t('descriptionNoInstall') }}</span>
            {{ t('descriptionAfter') }}
          </p>


          <ng-container *ngIf="isLoggedIn; else loggedOut">
            <a routerLink="/calendar" class="btn-primary space-x-2">
              <span class="font-bold">{{ t('ctaApp') }}</span>
              <lucide-icon [img]="arrowRightIcon" size="20"></lucide-icon>
            </a>
          </ng-container>
          <ng-template #loggedOut>
            <div class="flex space-x-3">
              <a routerLink="/login" class="btn-neutral">
                <span class="font-bold">{{ t('ctaLogin') }}</span>
              </a>
              <a routerLink="/register" class="btn-primary">
                <span class="font-bold">{{ t('ctaRegister') }}</span>
              </a>
            </div>
          </ng-template>

          <div
            class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 text-sm w-full md:w-auto">
            <div class="flex items-center space-x-2 text-green-400">
              <div class="w-2 h-2 bg-green-400 rounded-full animate-pulse"></div>
              <span class="font-medium text-green-500">{{ t('feature1') }}</span>
            </div>
            <div class="flex items-center space-x-2 text-blue-400">
              <lucide-icon [img]="shieldIcon" color="#51A2FF" size="14"></lucide-icon>
              <span class="text-blue-400">{{ t('feature2') }}</span>
            </div>
            <div class="flex items-center space-x-2 text-purple-400">
              <lucide-icon [img]="heartIcon" color="#C27AFF" size="14"></lucide-icon>
              <span class="text-purple-400">{{ t('feature3') }}</span>
            </div>
          </div>
        </div>

        <div class="w-full h-full mt-10 lg:mt-0">
          <img src="/assets/images/hero.avif" class="rounded-2xl w-full h-full object-cover" />
        </div>

      </div>
    </section>
  </ng-container>

  <!-- Features Section -->
  <ng-container *transloco="let t; prefix: 'landing.featuresSection'">
    <section class="container mx-auto mt-20 px-6">

      <div class="w-full flex flex-col items-center justify-center text-center space-y-3">
        <span class="bg-[#143830] text-[#7de0a1] border border-[#7de0a1] rounded-full px-3 py-2 text-xs">{{ t('titleBadge') }}</span>
        <h2 class="text-5xl">{{ t('headline') }}</h2>
        <p class="text-gray-400">{{ t('description') }}</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
        <app-feature-card title="{{ t('card1Title') }}" [icon]="checkIcon" borderColor="#4ade80" backgroundColor="#173d3a"
          description="{{ t('card1Description') }}"></app-feature-card>

        <app-feature-card title="{{ t('card2Title') }}" [icon]="shoppingCartIcon" borderColor="#60A5FA" backgroundColor="#1D3853"
          description="{{ t('card2Description') }}"></app-feature-card>

        <app-feature-card title="{{ t('card3Title') }}" [icon]="calendarIcon" borderColor="#c084fc" backgroundColor="#432b4d"
          description="{{ t('card3Description') }}"></app-feature-card>

        <app-feature-card title="{{ t('card4Title') }}" [icon]="debtIcon" borderColor="#fb923c" backgroundColor="#442a2e"
          description="{{ t('card4Description') }}"></app-feature-card>

        <app-feature-card title="{{ t('card5Title') }}" [icon]="multipleCommunitiesIcon" borderColor="#facc15" backgroundColor="#463c29"
          description="{{ t('card5Description') }}"></app-feature-card>
      </div>
    </section>
  </ng-container>

  <!-- Why Section -->
  <ng-container *transloco="let t; prefix: 'landing.whySection'">
    <section class="container mx-auto my-50 px-6">
      <div class="w-full flex flex-col items-center justify-center text-center space-y-5">
        <h2 class="text-5xl">{{ t('title') }}</h2>
        <p class="text-gray-400">{{ t('description') }}</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-10">
        <app-why-card title="{{ t('card1Title') }}" [icon]="globeIcon" borderColor="#4ade80" backgroundColor="#173d3a"
          description="{{ t('card1Description') }}"></app-why-card>

        <app-why-card title="{{ t('card2Title') }}" [icon]="giftIcon" borderColor="#60A5FA" backgroundColor="#1D3853"
          description="{{ t('card2Description') }}"></app-why-card>

        <app-why-card title="{{ t('card3Title') }}" [icon]="zapIcon" borderColor="#c084fc" backgroundColor="#432b4d"
          description="{{ t('card3Description') }}"></app-why-card>
      </div>
    </section>
  </ng-container>

  <!-- Getting Started Section -->
  <ng-container *transloco="let t; prefix: 'landing.gettingStartedSection'">
    <section class="container mx-auto my-30 px-6">
      <div class="w-full flex flex-col items-center justify-center text-center space-y-3">
        <h2 class="text-5xl">{{ t('title') }}</h2>
        <p class="text-gray-400">{{ t('description') }}</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-12">
        <div class="flex flex-col space-y-4 items-center text-center">
          <div class="h-18 w-18 bg-[#1bb253] rounded-2xl flex items-center justify-center">
            <span class="font-black text-3xl">{{ t('step1Number') }}</span>
          </div>
          <h3 class="font-bold text-2xl">{{ t('step1Title') }}</h3>
          <p class="text-gray-400">{{ t('step1Description') }}</p>
        </div>

        <div class="flex flex-col space-y-4 items-center text-center">
          <div class="h-18 w-18 bg-[#1bb253] rounded-2xl flex items-center justify-center">
            <span class="font-black text-3xl">{{ t('step2Number') }}</span>
          </div>
          <h3 class="font-bold text-2xl">{{ t('step2Title') }}</h3>
          <p class="text-gray-400">{{ t('step2Description') }}</p>
        </div>

        <div class="flex flex-col space-y-4 items-center text-center">
          <div class="h-18 w-18 bg-[#1bb253] rounded-2xl flex items-center justify-center">
            <span class="font-black text-3xl">{{ t('step3Number') }}</span>
          </div>
          <h3 class="font-bold text-2xl">{{ t('step3Title') }}</h3>
          <p class="text-gray-400">{{ t('step3Description') }}</p>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- CTA Section -->
  <ng-container *transloco="let t; prefix: 'landing.ctaSection'">
    <section class="bg-gradient-to-br from-green-500/10 via-blue-500/10 to-purple-500/10 px-6 py-20">
      <div class="container mx-auto">
        <div class="max-w-4xl mx-auto flex flex-col items-center justify-center text-center space-y-10">
          <h2 class="text-4xl lg:text-6xl">{{ t('headline') }}</h2>
          <p class="text-gray-400 text-xl lg:text-2xl">{{ t('description') }}</p>

          <a routerLink="/login" class="btn-primary space-x-2">
            <span class="font-bold">{{ t('button') }}</span>
            <lucide-icon [img]="arrowRightIcon" size="24"></lucide-icon>
          </a>

          <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8 text-sm">
            <div class="flex items-center space-x-2 text-green-400">
              <div class="w-2 h-2 bg-green-400 rounded-full animate-pulse"></div>
              <span class="font-medium text-green-500">{{ t('feature1') }}</span>
            </div>
            <div class="flex items-center space-x-2 text-blue-400">
              <lucide-icon [img]="shieldIcon" color="#51A2FF" size="14"></lucide-icon>
              <span class="text-blue-400">{{ t('feature2') }}</span>
            </div>
            <div class="flex items-center space-x-2 text-purple-400">
              <lucide-icon [img]="heartIcon" color="#C27AFF" size="14"></lucide-icon>
              <span class="text-purple-400">{{ t('feature3') }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

</main>
