<main>

  <!-- Hero Section -->
  <section class="container mx-auto py-20">
    <div class="grid lg:grid-cols-2">

      <div class="flex flex-col items-start">
        <div
          class="bg-[#143830] text-[#7de0a1] border border-[#7de0a1] rounded-full px-3 py-2 text-xs flex items-center justify-center">
          <lucide-icon [img]="checkIcon" size="16" class="text-primary"></lucide-icon>

          Kostenlos & Einfach
        </div>

        <h1 className="text-5xl lg:text-7xl font-bold">
          Bringt Euren
          <span className="bg-gradient-to-r from-green-400 via-green-300 to-green-500 bg-clip-text text-transparent">
            Haushalt
          </span>
          Zusammen
        </h1>
        <p class="text-xl mb-4">Verwaltet eure Familie, WG oder Gemeinschaft mit geteilten To-Do-Listen, Einkaufslisten,
          Kalendern und mehr. Direkt im Browser - komplett <span class="text-primary">kostenlos</span> und ohne Installation.</p>
        <a routerLink="/calendar" class="btn-primary">
          Zur App
        </a>
      </div>

    </div>

  </section>

  <section class="container mx-auto">

    <div class="w-full flex flex-col items-center justify-center text-center space-y-3">
      <span class="bg-[#143830] text-[#7de0a1] border border-[#7de0a1] rounded-full px-3 py-2 text-xs">Funktionen</span>
      <h2 class="text-5xl">Alles was euer Haushalt braucht</h2>
      <p class="text-gray-400">Von täglichen Aufgaben bis zur langfristigen Planung - Together hat alle Tools, um euren
        Haushalt reibungslos
        zu
        organisieren.</p>
    </div>

    <div class="grid grid-cols-3 gap-5 mt-5">
      <app-feature-card title="Geteilte To-Do-Listen" [icon]="checkIcon" description="Erstellt und verteilt Aufgaben an Haushaltsmitglieder. Verfolgt den Fortschritt
          und vergesst nie wieder
          wichtige Erledigungen."></app-feature-card>

      <app-feature-card title="Geteilte To-Do-Listen" [icon]="checkIcon" description="Erstellt und verteilt Aufgaben an Haushaltsmitglieder. Verfolgt den Fortschritt
          und vergesst nie wieder
          wichtige Erledigungen."></app-feature-card>

      <app-feature-card title="Geteilte To-Do-Listen" [icon]="checkIcon" description="Erstellt und verteilt Aufgaben an Haushaltsmitglieder. Verfolgt den Fortschritt
          und vergesst nie wieder
          wichtige Erledigungen."></app-feature-card>

      <app-feature-card title="Geteilte To-Do-Listen" [icon]="checkIcon" description="Erstellt und verteilt Aufgaben an Haushaltsmitglieder. Verfolgt den Fortschritt
          und vergesst nie wieder
          wichtige Erledigungen."></app-feature-card>

    </div>


  </section>

  <section class="container mx-auto">
    <div class="w-full flex flex-col items-center justify-center text-center space-y-3">
      <span class="bg-[#143830] text-[#7de0a1] border border-[#7de0a1] rounded-full px-3 py-2 text-xs">Funktionen</span>
      <h2 class="text-5xl">Warum Together?</h2>
      <p class="text-gray-400">Together macht Haushaltsorganisation einfach und zugänglich. Keine komplizierte Software,
        keine Kosten.</p>
    </div>

    <div class="grid grid-cols-3 gap-5 mt-5">

      <div class="card flex flex-col text-center items-center justify-center space-y-4">

        <div
          class="bg-[#173d3a] w-16 h-16 rounded-2xl border border-primary text-primary flex items-center justify-center">
          <lucide-icon [img]="checkIcon" size="24" class="text-primary"></lucide-icon>
        </div>

        <span class="font-bold text-xl">Direkt im Browser</span>
        <p>Keine Installation nötig. Öffnet einfach den Browser und legt sofort los - auf jedem Gerät.</p>
      </div>
    </div>
  </section>


  <section class="bg-gradient-to-br from-green-500/10 via-blue-500/10 to-purple-500/10 px-6 py-20">
    <div class="container mx-auto flex flex-col items-center justify-center text-center space-y-3">
      <h2 class="text-5xl">Bereit, euren Haushalt zu organisieren?</h2>
      <p class="text-gray-400">Together macht Haushaltsorganisation einfach und zugänglich. Keine komplizierte Software,
        keine Kosten.</p>

      <a routerLink="/login" class="btn-primary">Jetzt starten</a>

      <div class="flex justify-between space-x-6 text-sm text-gray-500">
        <div>
          100% kostenlos
        </div>

        <div>
          100% kostenlos
        </div>

        <div>
          100% kostenlos
        </div>

      </div>
    </div>
  </section>


</main>
