.header-wrapper {
  padding: 0 30px;

  ion-col {
    display: flex;
    align-items: center;
  }
}

.wrapper {
  padding: 0 30px;
}

.logo-img {
  height: 50px;
  border-radius: 8px;
}

.inner-wrap {
  height: 100%;

  * :not(button) {
    color: var(--ion-color-light);
  }

  .first-grid {
    height: 100%;

    ion-row {
      height: 100%;

      ion-col {
        display: flex;
        flex-direction: column;
      }

      .ion-col-left {

        justify-content: center;
        align-items: flex-start;
        padding: 60px 40px;

        p {
          margin: 0;
        }

        h1 {
          margin-top: 0;
          font-size: 4rem;

          span {
            color: var(--ion-color-primary);
            font-family: inherit;
          }
        }

        @media (max-width: 991px) {
          h1 {
            font-size: 2.5rem;
          }
        }
      }

      .ion-col-right {
        justify-content: end;
        align-items: center;
        img {
          margin-top: 20%;
          height: 60vh;
        }
      }
    }
  }
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide-shadow {
  background: transparent;
  opacity: 0;
}

.mockup-image {
  max-height: 80%;
}

.features-section {
  margin-top: 200px;
  padding-bottom: 100px;
  border-top: 1px var(--ion-color-medium) solid;

  .features-header-col {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .feature-image {
    max-height: 700px;
  }

  ion-col {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .small-header {
    color: var(--ion-color-primary);
  }
}

.credits-section {
  border-top: 1px var(--ion-color-medium) solid;

  ion-col {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:hover {
      cursor: pointer;
      color: var(--ion-color-primary);
    }
  }
}
