<div class="w-full bg-surface rounded-xl p-4 shadow-md space-y-4">

  <!-- File Input & Cropper -->
  <div class="flex flex-wrap gap-4 items-center justify-center">

    <!-- File Input -->
    <div class="flex flex-col items-center space-y-2">
      <label>Bild auswählen</label>
      <input type="file" (change)="onFileChange($event)"
        class="text-white bg-[var(--ion-color-dark)] p-2 rounded-md cursor-pointer w-48" />
    </div>

    <!-- Image Cropper -->
    <div class="flex flex-col items-center">
      <image-cropper
        [imageChangedEvent]="imgChangeEvt"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="256"
        format="jpeg"
        (imageCropped)="cropImg($event)"
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()"
        (loadImageFailed)="imgFailed()"
        [roundCropper]="true">
      </image-cropper>
    </div>

  </div>

   <button type="button" (click)="saveImage()" [disabled]="!cropImgPreview"
      class="btn-small btn-primary w-full max-w-xs">
      Speichern
    </button>

</div>
