<ion-content>
  <div class="container">
    <ion-grid fixed="true">
      <ion-row>
        <ion-col>
          <!-- <p>Nur meine Aufgaben</p> -->
        </ion-col>
      </ion-row>

      <ion-row  class="ion-nowrap">
        <ion-col class="day-col" size="2" *ngFor="let day of days" [ngClass]="day.date.toDateString() === dayToday.toDateString() ? 'today-col' : ''">
          <p class="ion-text-center">{{day.date.toLocaleDateString('de-AT', { weekday: 'short' })}}</p>
            <div class="task-div" *ngFor="let task of day.tasks" (click)="openModal(task)">
              <p style="margin: 0;">{{task.name}}</p>
              <p style="font-size: 0.6rem; margin: 0;">Daniel</p>

            </div>

            <div class="task-div add-task-div" (click)="openModal(null)">
              +
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
