<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getTasks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <ion-grid fixed="true">
      <ion-row class="topbar">
        <ion-col class="topbar-header-col">
          <p *ngIf="days" class="ion-text-center">{{days[0]?.date.toLocaleDateString('de-AT', { day: 'numeric', month:
            'short', year: 'numeric' })}} -
            {{days[days.length-1]?.date.toLocaleDateString('de-AT', { day: 'numeric', month: 'short', year: 'numeric'
            })}}
          </p>
        </ion-col>
        <ion-col size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-medium" (click)="changeSelectedDays('previous')">
            <ion-icon style="display: flex; font-size: 1.2rem;" name="arrow-back-outline"></ion-icon>
          </button>
          <button type="button" class="btn-small btn-medium" (click)="changeSelectedDays('next')">
            <ion-icon style="display: flex; font-size: 1.2rem;" name="arrow-forward-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-nowrap">
        <ion-col class="day-col" [size]="84 / numberOfColumns" *ngFor="let day of days"
          [ngClass]="day.date.toDateString() === dayToday.toDateString() ? 'today-col' : ''">
          <p class="ion-text-center"
            *ngIf="!isTodayDate(day.date, -1) && !isTodayDate(day.date, 0) && !isTodayDate(day.date, 1)">
            {{day.date.toLocaleDateString('de-AT', { weekday: 'short' })}}</p>
          <p class="ion-text-center" *ngIf="isTodayDate(day.date, -1)">Gestern</p>
          <p class="ion-text-center" *ngIf="isTodayDate(day.date, 0)">Heute</p>
          <p class="ion-text-center" *ngIf="isTodayDate(day.date, 1)">Morgen</p>
          <div *ngFor="let task of day.openTasks">
            <app-task-card [task]="task" (openModal)="openModal(task)"></app-task-card>
          </div>

          <div class="task-div add-task-div" (click)="openModal(day.date)">
            +
          </div>

          <div *ngIf="day.doneTasks[0]" class="done-div">
            Erledigt:
          </div>

          <div *ngFor="let task of day.doneTasks">
            <app-task-card [task]="task" (openModal)="openModal(task)"></app-task-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
