<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <ion-grid fixed="true">
      <ion-row class="topbar">
        <ion-col class="topbar-header-col">
          <p *ngIf="!editorIsOpen">Schulden</p>
          <p *ngIf="editorIsOpen">Neue Schuld</p>
        </ion-col>
        <ion-col *ngIf="!editorIsOpen" size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-primary" (click)="openEditor(true)">Neu</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="editorIsOpen">
        <ion-col>
          <form [formGroup]="itemEditorForm" (ngSubmit)="saveDebt()">
            <ion-grid class="card">
              <ion-row>
                <ion-col style="display: flex; justify-content: center">
                  <button type="button" class="btn-small btn-dark" style="width: 100%;"
                    (click)="openEditor(false)">Schließen</button>
                </ion-col>
                <ion-col>
                  <button [disabled]="itemEditorForm.invalid" type="button" (click)="saveDebt()"
                    class="btn-large btn-primary" style="width: 100%;">Speichern</button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="display: flex; justify-content: center">
                  <button type="button" class="btn-small" style="width: 100%;"
                    [ngClass]="iOwe ? 'btn-primary' : 'btn-dark'" (click)="changeIOwe(true)">
                    Ich Schulde
                  </button>
                </ion-col>
                <ion-col>
                  <button type="button" class="btn-large" style="width: 100%;"
                    [ngClass]="!iOwe ? 'btn-primary' : 'btn-dark'" (click)="changeIOwe(false)">Ich Bekomme</button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Schuldner:</p>
                  <div class="field-box">
                    <select name="cars" id="cars" formControlName="debitor">
                      <option *ngFor="let user of usersInCommunity" [ngValue]="user">{{user.firstname + ' ' +
                        user.lastname}}</option>
                    </select>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Euro:</p>
                  <div class="field-box">
                    <input type="number" id="name" autocomplete="off" formControlName="amount" placeholder="Menge">
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Grund:</p>
                  <div class="field-box">
                    <input type="text" id="name" autocomplete="off" formControlName="name" placeholder="Grund">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-col>
      </ion-row>

      <ion-row class="heading-row">
        <ion-col size="auto">
          <h2>Zu Zahlen</h2>
        </ion-col>
        <ion-col>
          <ion-icon class="down-icon" name="trending-down-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <div *ngFor="let balance of balances">
        <ion-row>
          <ion-col>
            <ion-grid class="card">
              <ion-row *ngIf="balance.amount > 0">
                <div *ngIf="clearOffEditorIsOpenId !== balance.debitor.id">
                  <ion-col>
                    <ion-row>
                      <span>
                        {{balance.debitor.firstname + ' ' + balance.debitor.lastname + ' ' + balance.amount + '€'}}
                      </span>
                      <button (click)="openClearOffEditor(balance)">begleichen</button>
                    </ion-row>
                  </ion-col>
                </div>
                <ion-row style="display: flex" *ngIf="clearOffEditorIsOpenId === balance.debitor.id">
                  <ion-col>
                    <ion-grid class="card">
                      <ion-row>
                        <ion-col style="display: flex; justify-content: center">
                          <button type="button" class="btn-small btn-dark" style="width: 100%;"
                            (click)="openClearOffEditor()">Schließen</button>
                        </ion-col>
                        <ion-col>
                          <button [disabled]="clearOffBalanceEditorForm.invalid" type="button"
                            class="btn-large btn-primary" style="width: 100%;"
                            (click)="clearOffBalance(balance)">Updaten</button>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col>
                          <form [formGroup]="clearOffBalanceEditorForm" (ngSubmit)="clearOffBalance(balance)">
                            <div class="field-box">
                              <input type="number" id="name" autocomplete="off" formControlName="amount"
                                placeholder="Amount">
                            </div>
                          </form>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>
      </div>

      <ion-row class="heading-row">
        <ion-col size="auto">
          <h2>Ich bekomme</h2>
        </ion-col>
        <ion-col>
          <ion-icon class="up-icon" name="trending-up-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf="!openItems.length && completedFirstLoad">
        <ion-col class="no-items-col">
          <h2>Alles Erledigt👍</h2>
          <img class="no-items-img" src="./../../../../assets/images/no-items.svg" alt="">
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>
          <div *ngFor="let balance of balances">
            <ion-row *ngIf="balance.amount < 0">
              <div *ngIf="clearOffEditorIsOpenId !== balance.debitor.id">
                <ion-col>
                  <ion-row>
                    <span>
                      {{balance.debitor.firstname + ' ' + balance.debitor.lastname + ' ' + balance.amount * -1 + '€'}}
                    </span>
                    <button (click)="openClearOffEditor(balance)">begleichen</button>
                  </ion-row>
                </ion-col>
              </div>
              <ion-row style="display: flex" *ngIf="clearOffEditorIsOpenId === balance.debitor.id">
                <ion-col>
                  <ion-grid class="card">
                    <ion-row>
                      <ion-col style="display: flex; justify-content: center">
                        <button type="button" class="btn-small btn-dark" style="width: 100%;"
                          (click)="openClearOffEditor()">Schließen</button>
                      </ion-col>
                      <ion-col>
                        <button [disabled]="clearOffBalanceEditorForm.invalid" type="button"
                          class="btn-large btn-primary" style="width: 100%;"
                          (click)="clearOffBalance(balance)">Updaten</button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <form [formGroup]="clearOffBalanceEditorForm" (ngSubmit)="clearOffBalance(balance)">
                          <div class="field-box">
                            <input type="number" id="name" autocomplete="off" formControlName="amount"
                              placeholder="Amount">
                          </div>
                        </form>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="heading-row">
        <ion-col size="auto">
          <h2>Verlauf</h2>
        </ion-col>
        <ion-col>
          <ion-icon class="history-icon" name="timer-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let debt of debts">
        <ion-col>
          <ion-grid class="card history-grid">
            <ion-row class="date-row">
              <ion-col size="auto" class="time-col">
                <p>{{debt.timestamp.toLocaleDateString('de-AT', { year: 'numeric', month: 'short', day:
                  'numeric' })}}</p>
              </ion-col>

              <ion-col>
                <ion-icon *ngIf="debt.creditor.id === currentUser?.id" class="icon-down"
                  name="trending-down-outline"></ion-icon>
                <ion-icon *ngIf="debt.creditor.id !== currentUser?.id" class="icon-up"
                  name="trending-up-outline"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row class="body-row">
              <ion-col size="42" class="left-col">
                <p>{{debt.name}}</p>
                <p class="amount-p">{{debt.amount}} €</p>
              </ion-col>
              <ion-col size="42">
                <p style="margin: 0;">{{debt.creditor.firstname}}</p>
                <ion-icon name="arrow-down-outline"></ion-icon>
                <p style="margin: 0;">{{debt.debitor.firstname}}</p>
              </ion-col>


            </ion-row>


          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
