input,
select {
  background-color: var(--ion-color-dark);
}

.no-items-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-items-img {
  border-radius: var(--border-radius-small);
  width: 80%;
  max-width: 300px;
}

.heading-row {
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 0;
    }

    ion-icon {
      font-size: 1.7rem;
    }

    .down-icon {
      color: var(--ion-color-danger);
    }

    .up-icon {
      color: var(--ion-color-success);
    }
  }
}


.rounded-image {
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.card-top-row {
  padding-bottom: 10px;

  ion-col {
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

.amount-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }

  h2 {
    margin: 10px;
  }

  .positive-amount {
    color: var(--ion-color-danger);
  }

  .negative-amount {
    color: var(--ion-color-success);
  }
}
