<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <ion-grid fixed="true">
      <ion-row class="topbar">
        <ion-col class="topbar-header-col">
          <p *ngIf="!editorIsOpen">Schulden</p>
          <p *ngIf="editorIsOpen">Neue Schuld</p>
        </ion-col>
        <ion-col *ngIf="!editorIsOpen" size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-primary" (click)="openEditor(true)">Neu</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="editorIsOpen">
        <ion-col>
          <form [formGroup]="itemEditorForm" (ngSubmit)="saveDebt()">
            <ion-grid class="card">
              <ion-row>
                <ion-col style="display: flex; justify-content: center">
                  <button type="button" class="btn-small btn-dark" style="width: 100%;"
                    (click)="openEditor(false)">Schließen</button>
                </ion-col>
                <ion-col>
                  <button [disabled]="itemEditorForm.invalid" type="button" (click)="saveDebt()"
                    class="btn-large btn-primary" style="width: 100%;">Speichern</button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="display: flex; justify-content: center">
                  <button type="button" class="btn-small" style="width: 100%;"
                    [ngClass]="iOwe ? 'btn-primary': 'btn-dark'" (click)="changeIOwe(true)">
                    Ich Schulde
                  </button>
                </ion-col>
                <ion-col>
                  <button type="button" class="btn-large" style="width: 100%;"
                    [ngClass]="!iOwe ? 'btn-primary': 'btn-dark'" (click)="changeIOwe(false)">Ich Bekomme</button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Schuldner:</p>
                  <div class="field-box">
                    <select name="cars" id="cars" formControlName="debitor">
                      <option *ngFor="let user of usersInCommunity" [ngValue]="user">{{user.firstname + ' ' +
                        user.lastname}}</option>
                    </select>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Euro:</p>
                  <div class="field-box">
                    <input type="number" id="name" autocomplete="off" formControlName="amount" placeholder="Menge">
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p>Grund:</p>
                  <div class="field-box">
                    <input type="text" id="name" autocomplete="off" formControlName="name" placeholder="Grund">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Noch zu Zahlen:</h2>
          <div *ngFor="let balance of balances">
            <ion-row *ngIf="balance.amount > 0">
              <div *ngIf="clearOffEditorIsOpenId !== balance.debitor.id">
                <ion-col>
                  <ion-row>
                    <span>
                      {{balance.debitor.firstname + ' ' + balance.debitor.lastname + ' ' + balance.amount + '€'}}
                    </span>
                    <button (click)="openClearOffEditor(balance)">begleichen</button>
                  </ion-row>
                </ion-col>
              </div>
              <ion-row style="display: flex" *ngIf="clearOffEditorIsOpenId === balance.debitor.id">
                <ion-col>
                  <ion-grid class="card">
                    <ion-row>
                      <ion-col style="display: flex; justify-content: center">
                        <button type="button" class="btn-small btn-dark" style="width: 100%;"
                          (click)="openClearOffEditor()">Schließen</button>
                      </ion-col>
                      <ion-col>
                        <button [disabled]="clearOffBalanceEditorForm.invalid" type="button"
                          class="btn-large btn-primary" style="width: 100%;"
                          (click)="clearOffBalance(balance)">Updaten</button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <form [formGroup]="clearOffBalanceEditorForm" (ngSubmit)="clearOffBalance(balance)">
                          <div class="field-box">
                            <input type="number" id="name" autocomplete="off" formControlName="amount"
                              placeholder="Amount">
                          </div>
                        </form>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-row>
          </div>
          <h2>Geld bekommen:</h2>
          <div *ngFor="let balance of balances">
            <ion-row *ngIf="balance.amount < 0">
              <div *ngIf="clearOffEditorIsOpenId !== balance.debitor.id">
                <ion-col>
                  <ion-row>
                    <span>
                      {{balance.debitor.firstname + ' ' + balance.debitor.lastname + ' ' + balance.amount * -1 + '€'}}
                    </span>
                    <button (click)="openClearOffEditor(balance)">begleichen</button>
                  </ion-row>
                </ion-col>
              </div>
              <ion-row style="display: flex" *ngIf="clearOffEditorIsOpenId === balance.debitor.id">
                <ion-col>
                  <ion-grid class="card">
                    <ion-row>
                      <ion-col style="display: flex; justify-content: center">
                        <button type="button" class="btn-small btn-dark" style="width: 100%;"
                          (click)="openClearOffEditor()">Schließen</button>
                      </ion-col>
                      <ion-col>
                        <button [disabled]="clearOffBalanceEditorForm.invalid" type="button"
                          class="btn-large btn-primary" style="width: 100%;"
                          (click)="clearOffBalance(balance)">Updaten</button>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <form [formGroup]="clearOffBalanceEditorForm" (ngSubmit)="clearOffBalance(balance)">
                          <div class="field-box">
                            <input type="number" id="name" autocomplete="off" formControlName="amount"
                              placeholder="Amount">
                          </div>
                        </form>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-row>
          </div>
          <h2>
            Verlauf:
          </h2>
          <div *ngFor="let debt of debts">
            <ion-row>
              <ion-col>
                <ion-row>
                  <span>
                    {{debt.debitor.firstname + ' ' + debt.debitor.lastname + ' ' + debt.amount + '€'}}
                  </span>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
