<div class="min-h-screen relative w-full bg-cover bg-center"
  style="background-image: url('../../../assets/images/bg7.svg');">
  <div class="flex items-center justify-center min-h-screen px-4">

    <div class="w-full max-w-md card p-8">
      <router-outlet></router-outlet>
    </div>

  </div>

  <a routerLink="/" class="fixed left-5 top-5 flex items-center space-x-2">
    <img src="../../../assets/logos/logo.svg" alt="Logo" class="h-10 w-10" />
    <span class="text-2xl font-bold">Together</span>
  </a>
</div>

<app-footer />
