<div class="fixed inset-0 bg-[#0006] flex justify-center items-center z-50">
  <div class="backdrop-blur-lg bg-surface/50 border border-gray-700 text-white p-5 rounded-xl min-w-[300px] max-w-xl shadow-2xl" @popupAnimation>
    <h2 class="text-xl font-bold mb-2">{{ title }}</h2>
    <p class="mb-6 text-gray-300">{{ content }}</p>
    <div class="flex justify-end gap-4">
      <button *ngIf="hasAbortButton" (click)="abort.emit()"
        class="btn-neutral">
        Cancel
      </button>
      <button (click)="submit.emit()" [ngClass]="
        isDanger
          ? 'btn-danger'
          : 'btn-primary'
      ">
        {{ submitText }}
      </button>
    </div>
  </div>
</div>
