<app-navbar title="Kalender">
  <button left type="button" class="btn-small btn-primary" (click)="gotoRoutines()">
    <lucide-icon [img]="InfinityIcon"></lucide-icon>
  </button>

  <div right class="flex items-center space-x-2">
    <button type="button" class="btn-small btn-neutral" (click)="changeSelectedDays('previous')">
      <lucide-icon [img]="ChevronLeftIcon"></lucide-icon>
    </button>
    <button type="button" class="btn-small btn-neutral" (click)="changeSelectedDays('next')">
      <lucide-icon [img]="ChevronRightIcon"></lucide-icon>
    </button>
  </div>
</app-navbar>

<!-- Days Grid -->
<div class="grid grid-cols-3 gap-4">
  @for (day of days; track day) {
  <div [ngClass]="day.date.toDateString() === dayToday.toDateString() ? 'bg-gray-800 rounded-xl p-3' : 'p-3'">
    <!-- Weekday -->
    @if (!isTodayDate(day.date, -1) && !isTodayDate(day.date, 0) && !isTodayDate(day.date, 1)) {
    <p class="text-center text-sm font-medium">
      {{day.date.toLocaleDateString('de-AT', { weekday: 'short' })}}
    </p>
    }
    @if (isTodayDate(day.date, -1)) {
    <p class="text-center text-sm font-medium">Gestern</p>
    }
    @if (isTodayDate(day.date, 0)) {
    <p class="text-center text-sm font-medium">Heute</p>
    }
    @if (isTodayDate(day.date, 1)) {
    <p class="text-center text-sm font-medium">Morgen</p>
    }

    <!-- Date -->
    <p class="text-center text-xs text-gray-400">
      {{day.date.toLocaleDateString('de-AT', { year: 'numeric', month: 'short', day: 'numeric' })}}
    </p>

    <!-- Open Tasks -->
    <div class="mt-2 space-y-2">
      @for (task of day.openTasks; track task) {
      <div>
        <app-task-card [task]="task" (openModal)="openModal(task)"></app-task-card>
      </div>
      }

      <!-- Add Task Button -->
      <div class="bg-gray-700 hover:bg-gray-600 rounded-md text-center text-lg cursor-pointer py-1"
        (click)="openModal(day.date)">
        +
      </div>

      <!-- Done Tasks -->
      @if (day.doneTasks[0]) {
      <div class="mt-4 mb-2 pt-2 border-t border-gray-600 text-xs text-gray-400">
        Erledigt:
      </div>
      }
      @for (task of day.doneTasks; track task) {
      <div>
        <app-task-card [task]="task" (openModal)="openModal(task)"></app-task-card>
      </div>
      }
    </div>
  </div>
  }
</div>

<app-popup [show]="taskToShow != null" (close)="taskToShow = null">
  <app-task />
</app-popup>
