<app-navbar title="Kalender">
  <a left routerLink="/calendar/routines" class="btn-primary">
    <lucide-icon [img]="InfinityIcon"></lucide-icon>
  </a>

  <div right class="flex items-center space-x-2">
    <button type="button" class="btn-neutral" (click)="changeSelectedDays('previous')">
      <lucide-icon [img]="ChevronLeftIcon"></lucide-icon>
    </button>
    <button type="button" class="btn-neutral" (click)="changeSelectedDays('next')">
      <lucide-icon [img]="ChevronRightIcon"></lucide-icon>
    </button>
  </div>
</app-navbar>

<!-- Days Grid -->
<div class="grid grid-cols-3 lg:gap-2">
  @for (day of days; track day.date.toISOString()) {
  <div [ngClass]="day.date.toDateString() === dayToday.toDateString() ? 'card p-1' : 'p-1'">
    @if (isTodayDate(day.date, -1)) {
    <p class="text-center text-sm font-medium">Gestern</p>
    }
    @else if (isTodayDate(day.date, 0)) {
    <p class="text-center text-sm font-medium">Heute</p>
    }
    @else if (isTodayDate(day.date, 1)) {
    <p class="text-center text-sm font-medium">Morgen</p>
    } @else {
    <p class="text-center text-sm font-medium">
      {{day.date.toLocaleDateString('de-AT', { weekday: 'long' })}}
    </p>
    }

    <!-- Date -->
    <p class="text-center text-xs text-gray-400">
      {{day.date.toLocaleDateString('de-AT', { year: 'numeric', month: 'short', day: 'numeric' })}}
    </p>

    <!-- Open Tasks -->
    <div class="mt-2 space-y-2">
      @for (task of day.openTasks; track (task.date.toISOString() + task.communityId + task.fkRoutineId +
      task.id).toString()) {
      <div>
        <app-task-card [task]="task" (openModal)="entryToEdit = task"></app-task-card>
      </div>
      }

      <!-- Add Task Button -->
      <div class="card mt-6 py-4 flex items-center justify-center clickable" (click)="dateForNewEntry = day.date">
        <lucide-icon [img]="plusIcon" size="16"></lucide-icon>
      </div>

      <!-- Done Tasks -->
      @if (day.doneTasks[0]) {
      <div class="mt-4 mb-2 pt-2 border-t border-gray-600 text-xs text-gray-400">
        Erledigt:
      </div>
      }
      @for (task of day.doneTasks; track task.date.toISOString() + task.communityId + task.fkRoutineId + task.id) {
      <div>
        <app-task-card [task]="task" (openModal)="entryToEdit = task"></app-task-card>
      </div>
      }
    </div>
  </div>
  }
</div>

<app-popup [show]="entryToEdit != null" (close)="entryToEdit = null" title="Eintrag bearbeiten">
  <app-calendar-entry-editor [calendarEntry]="entryToEdit" />
</app-popup>

<app-popup [show]="dateForNewEntry != null" (close)="dateForNewEntry = null" title="Neuen Eintrag erstellen">
  <app-calendar-entry-editor [date]="dateForNewEntry" />
</app-popup>
