<div class="flex justify-center">
  <div class="w-full">
    <!-- Color Grid -->
    <div class="flex flex-wrap justify-center gap-3">
      @for (color of colors; track color; let i = $index) {
        <div
          (click)="changeColor(color)"
          class="w-[20%] min-w-[50px] aspect-video flex items-center justify-center rounded-md cursor-pointer"
          [ngStyle]="{'background-color': color}"
          [ngClass]="{
            'border-2 border-white': colorUsernames[i] === user.name,
            'hover:opacity-80 transition': colorUsernames[i] === ''
          }"
        >
          @if (colorUsernames[i]) {
            <p class="text-white text-sm m-0">{{colorUsernames[i]}}</p>
          }
          @if (!colorUsernames[i]) {
            <p class="m-0">&nbsp;</p>
          }
        </div>
      }
    </div>

  </div>
</div>
