.color-selection-field {
  padding: 30px 0;
  border-radius: var(--border-radius-small);
  height: 100%;

  p {
   margin: 0;
   height: 100%;
   text-align: center;
  }
 }

 .active-color {
   border: white 2px solid;
 }
