<app-navbar title="Profil">

  @if (user) {
  <div right class="space-x-3 flex">
    <a routerLink="/onboarding" class="btn-small btn-neutral">
      <lucide-icon [img]="switchIcon"></lucide-icon>
    </a>

    <button type="button" class="btn-small btn-danger" (click)="logout()">
      <lucide-icon [img]="logoutIcon"></lucide-icon>
    </button>
  </div>
  }
</app-navbar>

@if (user) {
<div class="grid gap-4">
  <div class="flex justify-center">
    <img class="profile-image clickable rounded-full" [src]="user.profileimage" alt="" width="100" height="100"
      (click)="editImage(true)" />
  </div>


  <div class="flex justify-center">
    <h2 class="text-xl font-semibold">
      {{user?.name}}
    </h2>
  </div>

  @if (!user.communities) {
  <div class="card p-4 text-center">
    <p>Noch keiner Gemeinschaft beigetreten</p>
    <div class="grid grid-cols-2 gap-4 mt-4">
      <button class="btn-large btn-primary w-full" (click)="gotoFindCommunity()">Beitreten</button>
      <button class="btn-large btn-outline-primary w-full" (click)="gotoCreateCommunity()">Erstellen</button>
    </div>
  </div>
  }

  @if (community) {
  <div class="grid grid-cols-1 gap-4">
    <div class="card text-center p-4">
      <h2 class="text-lg font-semibold">{{community?.name}}</h2>
      <p class="text-sm">Gemeinschaft</p>
    </div>
  </div>
  }

  @if (usersInCommunity.length) {
  <div class="card p-4">
    <p class="text-center mb-4">Mitglieder</p>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-9 gap-2 justify-items-center">
      @for (user of usersInCommunity; track user) {
      <div class="card w-full text-center">
        <img [src]="user.profileimage" alt="" class="rounded-full w-full aspect-square object-cover mb-2" />
        <p class="text-sm lg:text-lg">{{user?.name}}</p>
        @if(user.isAdmin) {
        <span class="text-xs text-primary">Admin</span>
        }
      </div>
      }
    </div>
  </div>
  }

  <div class="grid grid-cols-2 gap-4">
    @if (community) {
    <div class="card flex justify-center items-center clickable p-4" (click)="editColor(true)">
      <p class="mr-2">Meine Farbe</p>
      <lucide-icon [ngStyle]="{'color': user.color}" [img]="paletteIcon"></lucide-icon>
    </div>
    }
  </div>

  @if (user.isAdmin) {
  <app-open-requests />
  }
</div>
}

<app-popup [show]="editingColor" (close)="editingColor = false" title="Farbe auswählen">
  <app-color-editor (closeEditor)="editColor(false)" />
</app-popup>

<app-popup [show]="editingImage" (close)="editingImage = false" title="Bild auswählen">
  <app-profile-image-editor (closeEditor)="editImage(false)" />
</app-popup>
