.profileimage {
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.requests-wrapper {
  margin-top: 20px;
  background-color:  var(--ion-color-medium);
  border-radius: var(--border-radius-small);
}

.card-center-text {
  h2 {
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
  }
}

.card-no-center {
  h2 {
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

.wrapper-color {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    margin-left: 5px;
    font-size: 1.2rem;
    color: var(--ion-color-danger);
  }
}

.wrapper-logout {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    margin-left: 5px;
    font-size: 1.2rem;
    color: var(--ion-color-danger);
  }
}

.card-1-flex {
  display: flex;
  flex-direction: column;


}

.card-flex {
  display: flex;
  flex-direction: column;
}

.user-wrapper {
  background-color: var(--ion-color-dark);
  border-radius: var(--border-radius-small);

  .img-col {
    padding: 15px 15px 0 15px;
    display: flex;
  }

  .name-col {
    padding: 15px;
  }

  .rounded-image {
    border-radius: 50%;
  }

  p {
    text-align: center;
  }

  .lastname {
    font-size: 0.8rem;
  }
}

input {
  background-color: var(--ion-color-dark);
}

.name-form {
  width: 100%;
}
