<ng-container *transloco="let t; prefix: 'calendar'">

  <!-- Date Display -->
  @if (date != undefined) {
    <p class="text-gray-400">
      {{ date.toLocaleDateString('de-AT', { year: 'numeric', month: 'long', day: 'numeric' }) }}
    </p>
  }

  @if (calendarEntry?.date != undefined) {
    <p class="text-gray-400">
      {{ calendarEntry.date.toLocaleDateString(t('dateFormat'), { year: 'numeric', month: 'long', day: 'numeric' }) }}
    </p>
  }

  <!-- Calendar Entry Form -->
  <form [formGroup]="calendarEntryForm" class="flex flex-col gap-4 mt-6">
    <div>
      <label for="calendarName">{{ t('form.name') }}</label>
      <input type="text" id="calendarName" formControlName="name" [placeholder]="t('form.name')" class="w-full" />
    </div>

    <div>
      <label>{{ t('form.notes') }}</label>
      <input type="text" formControlName="notes" [placeholder]="t('form.notes')" class="w-full" />
    </div>
  </form>

  <!-- Create Button -->
  @if(date !== undefined) {
    <div class="mt-4">
      <button type="button" class="btn-primary w-full" [disabled]="calendarEntryForm.invalid"
        (click)="createCalendarEntry()">
        {{ t('form.createEntry') }}
      </button>
    </div>
  }

  <!-- Update/Delete Buttons -->
  @if (calendarEntry !== undefined) {
    <div class="flex gap-3 mt-4">
      <button type="button" (click)="askToDeleteCalendarEntry()" class="btn-danger w-1/2">
        {{ t('form.delete') }}
      </button>

      <button
        [disabled]="calendarEntryForm.invalid || (name.value === calendarEntry?.name && notes.value === calendarEntry?.notes)"
        type="button" (click)="updateCalendarEntry()" class="btn-primary w-1/2">
        {{ t('form.update') }}
      </button>
    </div>
  }

</ng-container>
