<form [formGroup]="calendarEntryForm" class="flex flex-col gap-4">
  <input type="text" formControlName="name" placeholder="Name"
    class="w-full bg-gray-800 text-white p-2 rounded-md outline-none" />
  <div>
    <label class="block text-sm font-medium mb-1">Notizen:</label>
    <input type="text" formControlName="notes" placeholder="Notizen"
      class="w-full bg-gray-800 text-white p-2 rounded-md outline-none" />
  </div>
</form>


@if(date !== undefined) {
<div class="mt-4">
  <button type="button" class="btn-primary w-full" [disabled]="calendarEntryForm.invalid" (click)="createCalendarEntry()">Eintrag erstellen</button>
</div>
}

@if (calendarEntry !== undefined) {
<div class="flex gap-3 mt-4">
  <button type="button" (click)="askToDeleteCalendarEntry()" class="btn-danger w-1/2">
    Löschen
  </button>

  <button
    [disabled]="calendarEntryForm.invalid || (name.value === calendarEntry?.name && notes.value === calendarEntry?.notes)"
    type="button" (click)="updateCalendarEntry()" class="btn-primary w-1/2">
    Updaten
  </button>
</div>
}
