@if (date != undefined){
<p class="text-gray-400">{{date.toLocaleDateString('de-AT', { year: 'numeric', month: 'long', day: 'numeric' })}}</p>
}

@if (calendarEntry?.date != undefined){
<p class="text-gray-400">{{calendarEntry.date.toLocaleDateString('de-AT', { year: 'numeric', month: 'long', day:
  'numeric' })}}</p>
}

<form [formGroup]="calendarEntryForm" class="flex flex-col gap-4 mt-6">
  <div>
    <label for="calendarName">Name</label>
    <input type="text" id="calendarName" formControlName="name" placeholder="Name" class="w-full" />
  </div>

  <div>
    <label>Notizen:</label>
    <input type="text" formControlName="notes" placeholder="Notizen" class="w-full" />
  </div>
</form>

@if(date !== undefined) {
<div class="mt-4">
  <button type="button" class="btn-primary w-full" [disabled]="calendarEntryForm.invalid"
    (click)="createCalendarEntry()">Eintrag erstellen</button>
</div>
}

@if (calendarEntry !== undefined) {
<div class="flex gap-3 mt-4">
  <button type="button" (click)="askToDeleteCalendarEntry()" class="btn-danger w-1/2">
    Löschen
  </button>

  <button
    [disabled]="calendarEntryForm.invalid || (name.value === calendarEntry?.name && notes.value === calendarEntry?.notes)"
    type="button" (click)="updateCalendarEntry()" class="btn-primary w-1/2">
    Updaten
  </button>
</div>
}
