<app-navbar title="Routinen">
  <a left class="btn-small btn-neutral" routerLink="/calendar"
    aria-label="Zurück zu Kalender">
    <lucide-icon [img]="backIcon"></lucide-icon>
</a>

  <button right type="button" class="btn-small btn-primary flex items-center justify-center ml-4"
    (click)="openNewRoutineEditor(true)" aria-label="Neue Routine hinzufügen">
    <lucide-icon [img]="plusIcon"></lucide-icon>
  </button>
</app-navbar>

<!-- No Routines Message -->
@if (!enabledRoutines.length && !disabledRoutines.length && completedFirstLoad) {
<div class="flex flex-col items-center text-center p-6">
  <h2 class="text-2xl font-semibold mb-2">Noch keine Routinen</h2>
  <p>Klicke + um eine neue Routine anzulegen</p>
</div>
}

<!-- Active Routines Header -->
@if (enabledRoutines.length) {
<h2 class="text-xl font-semibold mb-4">Aktive Routinen</h2>
}

<!-- Active Routines List -->
@for (routine of enabledRoutines; track routine) {
<div class="mb-6">
  <div (click)="openUpdateEditor(routine)">
    <app-routine-card [routine]="routine"></app-routine-card>
  </div>
</div>
}

<!-- Disabled Routines Header -->
@if (disabledRoutines.length) {
<h2 class="text-xl font-semibold mb-4">Deaktivierte Routinen</h2>
}

<!-- Disabled Routines List -->
@for (routine of disabledRoutines; track routine) {
<div class="mb-6">
  <div (click)="openUpdateEditor(routine)">
    <app-routine-card [routine]="routine"></app-routine-card>
  </div>
</div>
}

<app-popup [show]="newRoutineEditorIsOpen" (close)="newRoutineEditorIsOpen = false" title="Neue Routine erstellen">
  <app-routine-editor (closeEditor)="openNewRoutineEditor(false)"></app-routine-editor>
</app-popup>

<app-popup [show]="openRoutineEditor != null" (close)="openRoutineEditor = null" title="Routine bearbeiten">
  <app-routine-editor [routine]="openRoutineEditor" (closeEditor)="openUpdateEditor(null)"></app-routine-editor>
</app-popup>
