.no-items-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: var(--border-radius-small);
    width: 80%;
    max-width: 300px;
  }

  p, h2 {
    text-align: center;
  }
}
