<ion-content>
  <div class="container">
    <ion-grid fixed="true">
      <ion-row class="topbar">
        <ion-col *ngIf="!newRoutineEditorIsOpen" size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-medium" (click)="gotoTasks()">Schließen</button>
        </ion-col>
        <ion-col class="topbar-header-col">
          <p *ngIf="!newRoutineEditorIsOpen">Routinen</p>
          <p *ngIf="newRoutineEditorIsOpen">Neue Routine</p>
        </ion-col>
        <ion-col *ngIf="!newRoutineEditorIsOpen" size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-primary" (click)="openNewRoutineEditor(true)">Neu</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="newRoutineEditorIsOpen">
        <ion-col>
          <app-routine-editor (closeEditor)="openNewRoutineEditor(false)"></app-routine-editor>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="routines.length">
        <ion-col>
          <h2>Routinen</h2>
        </ion-col>
      </ion-row>

      <div *ngFor="let routine of routines">
        <ion-row>
          <ion-col>
            <ion-grid class="card clickable" [ngStyle]="{'background-color': routine.assignedUsers[0]?.color}"
              (click)="openUpdateEditor(routine.id)">
              <ion-row>
                <ion-col>
                  <p>{{routine.name}}</p>
                  <ion-chip *ngFor="let user of routine.assignedUsers">
                    <ion-avatar>
                      <img alt="" [src]="user.profileimage" />
                    </ion-avatar>
                    <ion-label>{{user.firstname}}</ion-label>
                  </ion-chip>
                </ion-col>

                <ion-col>
                  <p>Startdatum: {{routine.startDate.toLocaleDateString('de-AT', { year: 'numeric', month: 'short', day:
                    'numeric' })}}</p>
                  <p class="ion-no-margin">Intervall: {{routine.interval}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="updateRoutineEditorOpenId === routine.id">
          <ion-col>
            <app-routine-editor [routine]="routine" (closeEditor)="openUpdateEditor(-1)"></app-routine-editor>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
