<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row class="topbar">
        <ion-col size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-medium" (click)="gotoProfile()">
            <ion-icon style="display: flex; font-size: 1.2rem;" name="close-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col class="topbar-header-col">
          <p>Community finden</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="field-box">
              <label for="search">Community Code</label>
              <input type="text" id="search" autocomplete="off" formControlName="search" placeholder="123456789">
            </div>
            <button [disabled]="searchForm.invalid" type="submit" class="btn-large btn-primary">Search</button>
          </form>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="foundCommunity">
        <ion-col>
          <h1>Community gefunden:</h1>
          <ion-grid class="community-wrapper">
            <ion-row>
              <ion-col>
                <h1 class="ion-text-center">{{foundCommunity.name}}</h1>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <button type="button" class="btn-small btn-primary" (click)="join()">Beitrittsanfrage senden</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>


      </ion-row>

      <ion-row style="padding-top: 50px;">
        <ion-col>
          <button type="button" class="btn-small btn-outline-primary" (click)="gotoCreateCommunity()">Neue Community erstellen</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
