<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="find-community" *ngIf="!communityExists">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Community finden</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shopping-list" *ngIf="communityExists">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Einkaufsliste</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tasks" *ngIf="communityExists">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Aufgaben</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
