<div class="p-4 max-w-xl mx-auto">

  <!-- Topbar -->
  <div class="flex items-center mb-6">
    <button type="button" (click)="gotoProfile()" class="btn-small btn-neutral mr-4">
      <ion-icon name="return-up-back-outline" class="text-xl flex"></ion-icon>
    </button>
    <h1 class="text-lg font-semibold">Gemeinschaft erstellen</h1>
  </div>

  <!-- Form -->
  <form [formGroup]="communityForm" (ngSubmit)="createCommunity()" class="space-y-4">

    <div class="flex flex-col space-y-2">
      <label for="name" class="text-sm text-white">Name der Gemeinschaft</label>
      <input
        type="text"
        id="name"
        autocomplete="off"
        formControlName="name"
        placeholder="Name der Gemeinschaft"
        class="bg-[var(--ion-color-dark)] text-white px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-primary w-full"
      >
    </div>

    <button
      type="submit"
      [disabled]="communityForm.invalid"
      class="btn-large btn-primary w-full"
    >
      Erstellen
    </button>

  </form>

</div>
