@if (task) {
  <div class="task-div" [ngStyle]="{'background-color': task.assignedUsers[0]?.color}"
    (click)="cardClicked()">
    <p style="margin: 0;">{{task.name}}</p>
    @if (task.assignedUsers) {
      <p style="margin-top: 5px; margin-bottom: 0">
        @for (user of task.assignedUsers; track user) {
          <ion-chip>
            <ion-avatar>
              <img alt="" [src]="user.profileimage" />
            </ion-avatar>
            <ion-label>{{user.firstname}}</ion-label>
          </ion-chip>
        }
      </p>
    }
  </div>
}
