@if (task) {
  <div
    class="p-1.5 md:p-3 mb-2 text-sm transition clickable card"
    (click)="cardClicked()"
  >
    <p class="m-0 text-sm">{{ task.name }}</p>

    @if (task.assignedUsers) {
      <div class="flex flex-wrap gap-1 mt-1">
        @for (user of task.assignedUsers; track user) {
          <div class="flex items-center bg-[var(--ion-color-dark)] h-6 text-xs px-1.5 rounded-md">
            <img [src]="user.avatar" alt="" class="w-4 h-4 rounded-full mr-1" />
            <span>{{ user.name }}</span>
          </div>
        }
      </div>
    }
  </div>
}
