@if (task) {
  <div
    class="rounded-sm p-1.5 mb-2 text-sm transition cursor-pointer"
    [ngStyle]="{ 'background-color': task.assignedUsers[0]?.color || 'var(--ion-color-medium)' }"
    (click)="cardClicked()"
  >
    <p class="m-0">{{ task.name }}</p>

    @if (task.assignedUsers) {
      <div class="flex flex-wrap gap-1 mt-1">
        @for (user of task.assignedUsers; track user) {
          <div class="flex items-center bg-[var(--ion-color-dark)] h-6 text-xs px-1.5 rounded-md">
            <img [src]="user.profileimage" alt="" class="w-4 h-4 rounded-full mr-1" />
            <span>{{ user.firstname }}</span>
          </div>
        }
      </div>
    }
  </div>
}
