<div>
  <!-- Main Content -->
  <div class="flex-1 overflow-auto pb-24">
    <router-outlet></router-outlet>
  </div>

  <!-- Bottom Navigation Bar -->
  <div class="fixed bottom-3 inset-x-3 flex justify-center pointer-events-none">
    <nav
      class="pointer-events-auto backdrop-blur-lg bg-surface/50 border border-gray-700 rounded-xl shadow-lg flex justify-around items-center py-3 px-5 w-full max-w-xl mx-auto">

      <a routerLink="/tasks" routerLinkActive="active-tab"
        class="flex flex-col items-center relative w-20 py-2">
        <lucide-icon [img]="tasksIcon"></lucide-icon>
        <span class="text-xs mt-1">Aufgaben</span>
        @if (tasksForTodayExists) {
          <span class="absolute top-0 right-0 bg-red-500 text-xs rounded-full px-1">!</span>
        }
      </a>

      <a routerLink="/shopping-list" routerLinkActive="active-tab"
        class="flex flex-col items-center relative w-20 py-2">
        <lucide-icon [img]="cartIcon"></lucide-icon>
        <span class="text-xs mt-1">Einkaufsliste</span>
        @if (numberOfOpenShoppingItems !== 0) {
          <span class="absolute top-0 right-0 bg-red-500 text-xs rounded-full px-1">
            {{numberOfOpenShoppingItems}}
          </span>
        }
      </a>

      <a routerLink="/debts" routerLinkActive="active-tab"
        class="flex flex-col items-center relative w-20 py-2">
        <lucide-icon [img]="debtsIcon"></lucide-icon>
        <span class="text-xs mt-1">Schulden</span>
      </a>

      <a routerLink="/profile" routerLinkActive="active-tab"
        class="flex flex-col items-center relative w-20 py-2">
        <lucide-icon [img]="profileIcon"></lucide-icon>
        <span class="text-xs mt-1">Profil</span>
      </a>
    </nav>
  </div>
</div>
