<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="register-header">Register</h1>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="field-box">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" placeholder="Email"
                [ngClass]="email.value ? email.valid ? 'valid-input' : 'invalid-input' : 'empty-input'">
            </div>
            <div class="field-box">
              <label for="name">Vorname</label>
              <input type="text" id="name" formControlName="firstname" placeholder="Vorname"
              [ngClass]="firstname.value ? firstname.valid ? 'valid-input' : 'invalid-input' : 'empty-input'">
            </div>
            <div class="field-box">
              <label for="lastname">Nachname</label>
              <input type="text" id="lastname" formControlName="lastname" placeholder="Nachname"
              [ngClass]="lastname.value ? lastname.valid ? 'valid-input' : 'invalid-input' : 'empty-input'">
            </div>
            <div class="field-box">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" placeholder="Password"
              [ngClass]="password.value ? password.valid ? 'valid-input' : 'invalid-input' : 'empty-input'">
            </div>
            <div class="field-box">
              <label for="password2">Passwort wiederholen</label>
              <input type="password" id="password2" formControlName="password2" placeholder="Repeat your password"
              [ngClass]="password.value ? password.value === password2.value ? 'valid-input' : 'invalid-input' : 'empty-input'">
            </div>
            <button [disabled]="registerForm.invalid" type="submit" class="btn-large btn-primary">Register</button>
          </form>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="loginbutton-wrapper">
          <button type="button" (click)="gotoLogin()" class="btn-large btn-link">Already have an account? Login
            here</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
