.card {
  h2 {
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
  }
}

input {
  background-color: var(--ion-color-dark);
}

.no-items-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: var(--border-radius-small);
    width: 80%;
    max-width: 300px;
  }

  p, h2 {
    text-align: center;
  }
}
