<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <ion-grid fixed="true">
      <ion-row class="topbar">
        <ion-col class="topbar-header-col">
          <p class="ion-text-center">Einkaufsliste</p>
        </ion-col>
        <ion-col size="auto" class="topbar-buttons-col">
          <button type="button" class="btn-small btn-primary" (click)="openEditor(true)">Neu</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="editorIsOpen">
        <ion-col>
          <ion-grid class="card">
            <ion-row>
              <ion-col style="display: flex; justify-content: center">
                <button type="button" class="btn-small btn-dark" style="width: 100%;"
                  (click)="openEditor(false)">Schließen</button>
              </ion-col>
              <ion-col>
                <button [disabled]="itemEditorForm.invalid" type="button" (click)="saveItem()"
                  class="btn-large btn-primary" style="width: 100%;">Speichern</button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <form [formGroup]="itemEditorForm" (ngSubmit)="saveItem()">
                  <div class="field-box">
                    <input type="name" id="name" autocomplete="off" formControlName="createname" placeholder="Name">
                  </div>
                </form>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="openItems.length">
        <ion-col>
          <h2>Offen:</h2>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!openItems.length && completedFirstLoad">
        <ion-col class="no-items-col">
          <h2>Alles Erledigt👍</h2>
          <img class="no-items-img" src="./../../../../assets/images/no-items.svg" alt="">
        </ion-col>
      </ion-row>

      <div *ngFor="let item of openItems">
        <ion-row *ngIf="editorIsOpenId !== item.id">
          <ion-col size="auto">
            <ion-checkbox style="display: flex;" color="primary" [checked]="item.done"
              (ionChange)="updateDone(item.id, $event)"></ion-checkbox>
          </ion-col>
          <ion-col>
            <span class="clickable" (click)="openUpdateEditor(item)">
              {{item.name}}
            </span>
          </ion-col>
        </ion-row>

        <ion-row style="display: flex" *ngIf="editorIsOpenId === item.id">
          <ion-col>
            <ion-grid class="card">
              <ion-row>
                <ion-col style="display: flex; justify-content: center">
                  <button type="button" class="btn-small btn-dark" style="width: 100%;"
                    (click)="openUpdateEditor()">Schließen</button>
                </ion-col>
                <ion-col>
                  <button [disabled]="itemUpdateEditorForm.invalid" type="button" (click)="updateName(item.id)"
                    class="btn-large btn-primary" style="width: 100%;">Updaten</button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <form [formGroup]="itemUpdateEditorForm" (ngSubmit)="updateName(item.id)">
                    <div class="field-box">
                      <input type="name" id="name" autocomplete="off" formControlName="updatename" placeholder="Name">
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="doneItems.length">
        <ion-col>
          <h2>Heute erledigt:</h2>
        </ion-col>
      </ion-row>


      <ion-row *ngFor="let item of doneItems">
        <ion-col size="auto">
          <ion-checkbox style="display: flex;" color="primary" [checked]="item.done"
            (ionChange)="updateDone(item.id, $event)"></ion-checkbox>
        </ion-col>
        <ion-col>
          {{item.name}}
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
