.card {
  h2 {
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
  }
}

input {
  background-color: var(--ion-color-dark);
}

.topbar {
  margin-bottom: 20px;
}

.topbar-header-col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
  }
}
