<ng-container *transloco="let t; prefix: 'onboarding.joinOrCreateCommunity'">
  <form [formGroup]="communityForm" (ngSubmit)="createCommunity()" class="space-y-4">

    <div class="flex flex-col space-y-2">
      <label for="communityname">{{t('nameOfCommunity')}}</label>
      <input type="text" id="communityname" autocomplete="off" formControlName="name"
        [placeholder]="t('namePlaceholder')" class="w-full">
    </div>

    <app-primary-button [isLoading]="isLoadingCreateCommunity" [disabled]="communityForm.invalid" type="submit"
      [label]="t('create')"></app-primary-button>
  </form>
</ng-container>