@if (hasRequests()) {
<div class="card">
  <h2 class="mb-4">Beitrittsanfragen:</h2>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
    @for (request of requests(); track request) {
    <div
      class="card flex flex-col items-center">

      <img [src]="request.user.avatar" alt="" class="rounded-full w-20 h-20 object-cover mb-3">

      <div class="text-center mb-3">
        <p class="text-base">{{request.user.name}}</p>
      </div>

      <div class="flex w-full gap-2">
        <button type="button" class="btn-danger flex-1 flex justify-center" (click)="accept(request.id, false)">
          <lucide-icon [img]="closeIcon"></lucide-icon>
        </button>
        <button type="button" class="btn-primary flex-1 flex justify-center" (click)="accept(request.id, true)">
          <lucide-icon [img]="checkmarkIcon"></lucide-icon>
        </button>
      </div>

    </div>
    }
  </div>
</div>
}
